# venv & caches
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store
__MACOSX/

# build metadata
*.egg-info/
src/*.egg-info/
build/
dist/

# environment variables
.env
*.env

# data & debug files
data/output*.json
data/*.html
data/*.tmp
data/*.log

# Jupyter / notebooks
.ipynb_checkpoints/

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo
